<!-- <div>

  <h1>Shopping Items</h1>

  <button (click)="addItem()">Add Item</button>

  <form (ngOnSubmit)="addItem()">

    <input type="name" [(ngModel)]="newShoppingItem.name" placeholder="Name" name="Name">

    <button type="submit"></button>

  </form>

  <ul>
    <li *ngFor="let item of shoppingItems | async" (click)="deleteItem(item.id)">
      {{ item.name }}
    </li>
  </ul>

  <button (click)="resetState()">Resetar State</button>
  
</div> -->



<div>

  <form (mouseleave)="updateEnderecoBloco()">

    <input type="number" [(ngModel)]="enderecoSegurado.cep" placeholder="Cep" (blur)="updateFormItem()" name="cep">

    <input type="text" [(ngModel)]="enderecoSegurado.logradouro" placeholder="Logradouro" (blur)="updateFormItem()" name="logradouro">

    <input type="text" [(ngModel)]="enderecoSegurado.numeroLogradouro" placeholder="Número Logradouro" (blur)="updateFormItem()" name="logradouro">

    <input type="text" [(ngModel)]="enderecoSegurado.complemento" placeholder="Complemento" (blur)="updateFormItem()" name="logradouro">

    <input type="text" [(ngModel)]="enderecoSegurado.bairro" placeholder="Bairro" (blur)="updateFormItem()" name="Bairro">

    <input type="text" [(ngModel)]="enderecoSegurado.cidade" placeholder="Cidade" (blur)="updateFormItem()" name="Cidade">

    <input type="text" [(ngModel)]="enderecoSegurado.estado" placeholder="Estado" (blur)="updateFormItem()" name="Estado">

    <button (click)="sendData()">Enviar Dados</button>

  </form>

  <br>

  {{ enderecoSegurado | json }}

</div>
